mixin request(photo="Pack", title="", cl="")
  section.request&attributes(attributes)(class=cl ? `request--${cl}` : "")
    .request__area
      if (!cl)
        img.request__photo(src=`img/request${photo}.png` alt="" class=photo==="Holder" ? "request__photo--holder" : "" class=photo==="Cup" ? "request__photo--cup" : "")
      .request__info(class=photo==="Holder" ? "request__info--holder" : "" class=photo==="Cup" ? "request__info--cup" : "")
        if (photo==="Cup")
          p.request__slogan Делаем кофе, который пьем сами!
        h2.request__title(class=photo==="Cup" ? "request__title--cup" : "" class=photo==="Pack" ? "request__title--pack" : "")
          span.request__title-text Оставьте заявку сейчас!
          span.request__title-text=title
        form.request__form  
          input.request__field(type="tel" placeholder="Ваш номер телефона" pattern="[0-9]{10}" required)
          button.request__submit Оставить заявку
        p.request__text Позвоним вам и ответим на все ваши вопросы, поможем выбрать сорт кофе.